
@{
    ViewData["Title"] = "UserList"; 
}

@model List<UserViewModel>
<h1>Üye Listesi</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Kullanıcı adı</th>
        <th>E-Mail</th>
    </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td> @item.Email</td>
            </tr>
        }
    </tbody>
</table>

